.reviews__item {
	position: relative;
}
.reviews_admin {
	position: absolute;
	top: -16px;
	right: 0;
	border: 1px solid lightgray;
	padding: 5px;
	background: white;
}
.reviews_admin a {
	text-decoration: unset;
}
.reviews_admin a:not(:last-child) {
	padding-right: 5px;
	border-right: 1px solid black;
}
.reviews_rating {
	position: absolute;
	bottom: 15px;
}